{% extends "admin/base_admin.html" %}
{% block title %}Liste des candidatures{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold mb-6">Candidatures</h1>
<table class="w-full bg-white shadow rounded-lg overflow-hidden">
  <thead class="bg-gray-200">
    <tr>
      <th class="px-4 py-2">Offre</th>
      <th class="px-4 py-2">Candidat</th>
      <th class="px-4 py-2">Date</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for candidature in candidatures %}
    <tr class="border-b">
      <td class="text-center px-4 py-2">{{ candidature.offre.titre_poste }}</td>
      <td class="text-center px-4 py-2">{{ candidature.stagiaire.nom_stagiaire }}</td>
      <td class="text-center px-4 py-2">{{ candidature.created_at|date:"d/m/Y" }}</td>
      <td class="text-center px-4 py-2">
        <a href="{% url 'detailcandidature' candidature.id_candidature %}" class="text-blue-600 hover:underline">Détails</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
