<!-- base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Premier Stage{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-800">
    {% block content %}
    {% endblock %}

    {% if messages %}
    <div id="popup-container" class="fixed top-5 right-5 space-y-2 z-50">
    {% for message in messages %}
    <div class="popup px-4 py-3 rounded-lg shadow-lg {{ message.tags }} transition transform scale-95 opacity-0">
        <p class="font-medium">{{ message }}</p>
    </div>
    {% endfor %}
    </div>
    <script>
    document.querySelectorAll('.popup').forEach((popup, i) => {
        setTimeout(() => {
        popup.classList.remove('opacity-0', 'scale-95');
        popup.classList.add('opacity-100', 'scale-100');
        }, 100 * i);

        // auto-disparition après 4s
        setTimeout(() => {
        popup.classList.add('opacity-0', 'scale-95');
        setTimeout(() => popup.remove(), 500);
        }, 4000 + i * 500);
    });
    </script>
    {% endif %}

    <script>
        // Gestion du menu mobile
        const burger = document.getElementById('burger');
        const mobileMenu = document.getElementById('mobileMenu');

        burger.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>

</body>
</html>
